<div class=" container footer py-5 mb-2 ">


    <div class=" row text-center  ">
        <div class="col-md-2"> <img src="../../../assets/8847-youm7logofixed.png" alt=""></div>
        <div class="col-md-2">
            <ul>
                <li style=" list-style-type: none;" class="  liFoter" routerLink="main"> الرئيسيه</li>
                <li style=" list-style-type: none;" class="liFoter" routerLink="Policy"> سياسه</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li style=" list-style-type: none;" class="  liFoter" routerLink="accidents"> حوادث</li>
                <li style=" list-style-type: none;" class="liFoter" routerLink="economie"> اقتصاد</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li style=" list-style-type: none;" class="  liFoter" routerLink="sports"> رياضه</li>
                <li style=" list-style-type: none;" class="liFoter" routerLink="healthy"> صحه</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li style=" list-style-type: none;"> مبرحبا بك في اليوم السابع نتمني ان تكون شاهدت اخبار شيقه <i
                        class="fa-solid fa-face-smile"></i></li>

            </ul>

        </div>


    </div>
</div>