<div class="  d-flex justify-content-center fixed-top bg-white  mb-2 ">
  <div class=" itemNav   justify-content-center align-items-center mt-2">
    <img src="../../../assets/8847-youm7logofixed.png" alt="">

    <p class=" text-center rounded-5 bg-danger text-white p-2 mt-1">{{date}}</p>
  </div>
</div>

<section class=" body  ">



  <div class="scroll text4">
    <div>
      اخبار حصريه <span>صحه - </span> رياضه <span>اخبار - </span> اقتصاد <span>سياحه - </span> اخبار <span>حوادث -
      </span>
    </div>
    <div>
      اخبار حصريه <span>صحه - </span> رياضه <span>اخبار - </span> اقتصاد <span>سياحه - </span> اخبار <span>حوادث -
      </span>
    </div>
  </div>

</section>